<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>drawing-icons demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../drawing-icons.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic drawing-icons demo</h3>
      <demo-snippet>
        <template>
          <iron-icon icon="drawing:move"></iron-icon> 
          <iron-icon icon="drawing:select"></iron-icon> 
          <iron-icon icon="drawing:draw-ellip"></iron-icon>  
          <iron-icon icon="drawing:draw-rect"></iron-icon> 
          <iron-icon icon="drawing:draw-poly"></iron-icon> 
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
